body {
    font-family: Quicksand, sans-serif;
    background-image: linear-gradient(to bottom right,#d8acbc, #42071e);
    color:black;
    line-height: 1.6;
    padding: 20px;
    margin: 0;
    height: 100vh;
}
h1{

}